@use 'sass:math';

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1400;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Функция для конвертации px в em
@function em($px, $current: 16) {
   @return math.div($px, $current)+em;
}

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(1023.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
$middle: em(1024); // Средние экраны

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Шрифт по умолчанию
$fontFamily: 'Gotham Rounded', sans-serif;


$fontSize: 20px;

// Цвета из макета
$background: #fff;
$foreground: #6E7C95;
$black: #101010;
$blue: #0000ff;
$red: #D01E2A;
$white: #fff;