@use 'sass:math';
@use 'base/mixins' as *;
@use 'base/variables' as *;
@use 'sass:color';

@use 'base';
@use 'bem';
@use 'fonts/my-fonts';

// Pages
@use 'project/pages/home';

// Sections


// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@forward 'base/null';

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {

   // Скролл заблокирован
   .lock & {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }

   // Сайт загружен
   .loaded & {}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow-x: clip;

   // Прижимаем footer
   >main {
      flex: 1 1 auto;
   }

   // Фикс для слайдеров
   >* {
      min-width: 0;
   }
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {

   // Отзывчивая
   [class*='__container'] {
      @if ($maxWidthContainer>0) {
         max-width: rem($maxWidthContainer);
         box-sizing: content-box;
         margin: 0 auto;
      }

      @if ($containerPadding>0) {
         padding: 0 rem(math.div($containerPadding, 2));
      }
   }
}

@else {

   // По брейк-поинтам
   [class*='__container'] {
      margin: 0 auto;

      @if ($maxWidthContainer>0) {
         max-width: rem($maxWidthContainer);
         box-sizing: content-box;
      }

      @else {
         @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
         }
      }

      @media (max-width: $pc) {
         max-width: rem(970);
      }

      @media (max-width: $tablet) {
         max-width: rem(750);
      }

      @media (max-width: $mobile) {
         max-width: none;

         @if ($containerPadding>0 and $maxWidthContainer>0) {
            padding: 0 rem(math.div($containerPadding, 2));
         }
      }
   }
}